@font-face {
    font-family: "Roboto"; 
    src: url("./Roboto-Bold.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: bold; 
    font-display: auto;
} 
@font-face {
    font-family: "Roboto"; 
    src: url("./Roboto-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal; 
    font-display: auto;
} 